@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FranklinBold";
  src: url("./assets/fonts/FranklinBold/FranklinExtraCondGothic.woff2")
      format("woff2"),
    url("./assets/fonts/FranklinBold/FranklinExtraCondGothic.woff")
      format("woff"),
    url("./assets/fonts/FranklinBold/FranklinExtraCondGothic.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Franklin";
  src: url("./assets/fonts/Franklin/FranklinGothicLT-Book.woff2")
      format("woff2"),
    url("./assets/fonts/Franklin/FranklinGothicLT-Book.woff") format("woff"),
    url("./assets/fonts/Franklin/FranklinGothicLT-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.custom-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: #f37120 #2d3748;
  border-radius: 8px;
  padding-right: 3rem;

}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f37120;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #2d3748;
}